
@include font-face('share_tech', '../fonts/ShareTech/sharetech-regular-webfont', 400, 'normal');

@include font-face('tulpen', '../fonts/TupenOne/tulpenone-regular-webfont', 400, 'normal');

@include font-face('open sans', '../fonts/Open-Sans/opensans_light_macroman', 100, 'normal');
@include font-face('open sans', '../fonts/Open-Sans/opensans_regular_macroman', 400, 'normal');
@include font-face('open sans', '../fonts/Open-Sans/opensans_semibold_macroman', 600, 'normal');

@include font-face('open sans', '../fonts/Open-Sans/opensans_lightitalic_macroman', 100, 'italic');
@include font-face('open sans', '../fonts/Open-Sans/opensans_italic_macroman', 400, 'italic');
@include font-face('open sans', '../fonts/Open-Sans/opensans_semibolditalic_macroman', 600, 'italic');


h1, h2, h3, h4, h5, h6 {
}


h1, h2 {
  font-size: 50px;
  font-family: 'tulpen', arial, sans-serif;
}

h1 {
  position: absolute;
  bottom: 20%;
  left: 10%;
  // font-size: 60px;
  font-size: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  // line-height: 38px;
  line-height: 60px;

  span {
    display: block;
    // font-size: 30px;
    // letter-spacing: 16px;
    font-size: 44px;
    letter-spacing: 32px;
  }
}


h3 {
  font-size: 20px;
  font-weight: 400;
}

strong {
  font-weight: bold;
  font-size: 22px;
  color: #000;
}

p {
  margin: 20px 0;
  line-height: 22px;
  letter-spacing: 0.26px;
  font-size: $font-size;
  text-align: left;
}

p:first-child {
  margin-top: 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* @font-face {
       font-family: 'lane-narrow';
       src: url('../fonts/lanenar_-webfont.svg#lane_-_narrowregular') format('svg');
   }
   p {
     font-weight: 800;
   }*/
 }