$wrapper-width: 980px;
$font-size: 16px;
$line-height: $font-size * 1.6;
$h1-size: $font-size * 2; // all other fonts are related to $font-size.

// Text Color
$font-color-dark: #252525;
$font-color: #383838;
$font-color-alpha: rgba(56,56,56,0.95);
$font-color-light: #999999;

// Form Background Color
$body-bg-color: #fff;

//Colors
$tan: #b9a389;
$tan-alpha:rgba(185,163,137, 0.6);
$tan-alpha-2:rgba(185,163,137, 0.95);
///////////////////

//Color of Selected Objects
$selected-color: $tan;

//The Focus Indicator on Fields
$focus-shadow: $tan;

//The Link Style
$link-color: $tan;
$link-hover-color: rgba($tan,0.8);
$link-active-color: $font-color-dark;

//Breakpoint sizes
$breakpoint-phone: 420px;
$breakpoint-phone-to-tablet: 768px;
$breakpoint-tablet-to-desktop: 1240px;
$breakpoint-desktop-to-extralarge: 1479px;